<div class="customer-car-list">
	<div class="title">
		Your cars
	</div>
	<div class="form-viewer" *ngIf="!Cars">
		Loading...
	</div>
	<div class="form-viewer list" *ngIf="Cars">
		<h2>Cars registered: {{Cars.length}}</h2>
		<br />
		<ul>
			<li>				
				<div layout="row" *ngFor="let car of Cars">
					<button [routerLink]="['/customer/profile/car/', car.IdCar]">Edit</button>
					<div class="row">
						{{car.Brand}}
					</div>
				</div>				
			</li>
		</ul>
		<br />
		<button mat-raised-button color="primary" [routerLink]="['/customer/profile/car/', 'newcar']">New Car</button>
	</div>
</div>