.customer-car-list {
	margin: 2em;
	box-sizing: border-box;
}

h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

.form-viewer {
	margin: 25px;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.form-footer {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	float: right;
}



*, *:before, *:after {
	box-sizing: border-box;
}

.list {
	float: left;
	left: 0;
	right: 0;
	top: 0;
	padding: 10px;
	color: #fff;
	font-family: "Comfortaa", "Helvetica", sans-serif;
	min-width: 300px;
	max-width: 600px;
	margin: 30px auto;
	background-color: rgba(10,10,10,.68);
}

.row {
	margin-top: 20px;
}

button {
	display: block;
	width: 80px;
	height: 40px;
	padding: 0;
	margin: 10px 20px 10px;
	font-weight: 700;
	color: #fff;
	background-color: #22c08a;
	border: none;
	border-radius: 20px;
}

button:hover {
	background-color: #26d69a;
}

button:active {
	background-color: #1eaa7a;
}

