//Page CSS

/*.container {
	position: absolute;
	left: 0;
	top: 0;
	padding: 1px 0;
	height: 100%;
	width: 100%;
	color: #fff;
	font-family: "Comfortaa", "Helvetica", sans-serif;
}

.login {
	max-width: 280px;
	min-height: 500px;
	margin: 30px auto;
	background-color: rgba(10,10,10,.68);
}*/

.login-icon-field {
	height: 250px;
	width: 100%;
}

.login-icon {
	margin: 50px 65px;
}

.login-form {
	padding: 8px 20px 20px;
	height: 120px;
	width: 100%;
	/*background-color: green;*/
}

//Forms

*, *:before, *:after {
	box-sizing: border-box;
}

form {
	position: absolute;
	left: 0;
	right: 0;
	transform: translateY(-170%);
	padding: 1px 0;
	color: #fff;
	font-family: "Comfortaa", "Helvetica", sans-serif;
	max-width: 280px;
	min-height: 600px;
	margin: auto;
	background-color: rgba(10,10,10,.68);
}

button {
	display: block;
	width: 240px;
	height: 40px;
	padding: 0;
	margin: 10px 20px 10px;
	font-weight: 700;
	color: #fff;
	background-color: #22c08a;
	border: none;
	border-radius: 20px;
}

button:hover {
	background-color: #26d69a;
}

button:active {
	background-color: #1eaa7a;
}

//Renato Comentei aqui pq se nao as outras paginas vem com esta configuracao e depois muda.
//se fomos manter essa, vamos alterar os outros scss.

/*/deep/.mat-focused .mat-form-field-placeholder {
	color: white;
}

/deep/.mat-form-field-placeholder {
	color: rgba(255,255,255,0.5);
}

/deep/.mat-form-field-ripple {
	background-color: #fff;
}

/deep/.mat-raised-button.mat-primary[disabled] {
	background-color: #000;
	color: #fff;
}*/
