<div class="sign-in">
	<div class="container">
		<div id="login" class="login">
			<form *ngIf="Ready" [formGroup]="SignInForm" (ngSubmit)="SignIn(SignInForm.value)" layout="column">
				<div class="login-icon-field">
					<img src="/assets/car.png" style="margin-left: 15px;" />
				</div>
				<div class="login-form">
					<mat-form-field>
						<input matInput formControlName="Email" type="email" placeholder="Email">
					</mat-form-field>

					<mat-form-field>
						<input matInput formControlName="Password" type="password" placeholder="Password">
					</mat-form-field>

					<div layout="row" flex>
						<mat-checkbox formControlName="RememberMe">Remember me</mat-checkbox>
					</div>

					<div layout="row" flex content="end">
						<button mat-raised-button color="primary" type="submit" [disabled]="!SignInForm.valid">Sign In</button>
					</div>

					<div layout="row" flex content="end">
						<button mat-raised-button color="secundary" routerLink="/account/sign-up">Create your account</button>
					</div>

					<div layout="row" flex content="end">
						<button mat-raised-button color="secundary" routerLink="/account/sign-up-workshop">Workshop New Account</button>
					</div>

					<div *ngIf="ShowMessage" class="error-message">
						{{Message}}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>