<div class="sign-up" layout="column" flex>
	<form *ngIf="Ready" [formGroup]="SignUpForm" (ngSubmit)="SignUp(SignUpForm.value)" layout="column">
		<div class="form-viewer">
			<mat-form-field>
				<input matInput formControlName="FirstName" placeholder="First name">

			</mat-form-field>

			<mat-form-field>
				<input matInput formControlName="LastName" placeholder="Last Name">
			</mat-form-field>

			<mat-form-field>
				<input matInput formControlName="Telephone" placeholder="Telephone">
			</mat-form-field>

			<mat-form-field>
				<input matInput formControlName="Email" placeholder="Email">
			</mat-form-field>

			<mat-form-field>
				<input matInput formControlName="Password" type="password" placeholder="Password">
			</mat-form-field>

			<mat-form-field>
				<input matInput formControlName="PasswordConfirm" type="password" placeholder="Confirm password">
			</mat-form-field>

			<div class="form-footer">
				<div>
					<button mat-raised-button color="primary" type="submit" [disabled]="!SignUpForm.valid">Sign Up</button>
				</div>
				<div>
					<button mat-raised-button color="warn" type="reset">
						Clear
					</button>
				</div>
			</div>
			<div *ngIf="ShowMessage" class="error-message">
				{{Message}}
			</div>

		</div>
	</form>
</div>
