*, *:before, *:after {
	box-sizing: border-box;
}

form {
	position: absolute;
	left: 0;
	right: 0;
	transform: translateY(-200%);
	padding: 1px 0;
	color: #fff;
	font-family: "Comfortaa", "Helvetica", sans-serif;
	max-width: 580px;
	min-height: 500px;
	margin: auto;
	background-color: rgba(10,10,10,.68);
}

button {
	display: block;
	width: 240px;
	height: 40px;
	padding: 0;
	margin: 10px auto;
	font-weight: 700;
	color: #fff;
	background-color: #22c08a;
	border: none;
	border-radius: 20px;
}

button:hover {
	background-color: #26d69a;
}

button:active {
	background-color: #1eaa7a;
}

/deep/.mat-focused .mat-form-field-placeholder {
	color: white;
}

/deep/.mat-form-field-placeholder {
	color: rgba(255,255,255,0.5);
}

/deep/.mat-form-field-ripple {
	background-color: #fff;
}

/deep/.mat-raised-button.mat-primary[disabled] {
	background-color: #000;
	color: #fff;
}
