$font-roboto: Roboto;
$font-roboto-Light: Roboto-Light;
$font-roboto-Bold: Roboto-Bold;

$color-white: #ffffff;

$color-blue-80: #F7A600;
$color-blue-90: #005a9e;
$color-blue: #004c86;
$color-blue-110: #024272;
$color-blue-120: #F7A600;

$color-black-80: #525252;
$color-black-90: #424141;
$color-black: #313131;
$color-black-110: #1d1d1d;
$color-black-120: #151515;

$container-line-color: #3f51b5;
$container-size: 890px;

.box-container {
    border-top: $container-line-color 3px solid;
    margin: 0 10px 15px 10px;
    padding: 15px;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.modal-dialog {
    border-top: $container-line-color 3px solid;

    mat-dialog-container {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }
}

.table-container {
    margin-top: 10px !important;

    table {
        width: 100%;

        thead tr td {
            border-bottom: 2px solid #3f51b5;
            font-size: 1.2em;
            height: 30px;
        }

        tbody tr td {
            padding-left: 5px;
            height: 30px;
        }

        tbody tr:hover {
            background: #e0f0fd;
        }
    }
}

.section {
    font-weight: bold;
    font-size: 20px;
    color: #474747;
    border-left: 3px solid $container-line-color;
    background-color: #e4eefe;
    height: 30px;
    line-height: 30px;
    margin: 15px 0;
    padding-left: 7px;
}

.section-items {
    margin-left: 12px;
}
