<div class="workshop-address-list" layout="column" flex>
    <div class="title">Workshop Addresses </div>
    <div layout="row">
        <div *ngIf="Ready">
            <ul class="addresses" *ngFor="let item of WorkShopAddress; let i = index">
                <li>
                    <span class="badge">{{i + 1}}</span>
                   {{item.StreetNumber}} {{item.Street}} {{item.PostalCode}} {{item.City}} 
                </li>   
                    <button mat-raised-button color="accent"  (click)="Edit()" type="button">Edit</button>              
            </ul>
        </div>
        <div flex> </div>
        <div layout="row" content="end">
            <button mat-raised-button color="primary" (click)="NewAddress()" type="button"> New Address </button>
        </div>
        <div layout="row" content="end">
                <button mat-raised-button color="secundary" (click)="Back()" type="button"> Back </button>
            </div>
        <div *ngIf="ShowMessage" class="error-message">
            {{Message}}
        </div>
    </div>