<div class="layout-customer">
	<div class="header" shadow="2" layout="row">
		<a class="logo" routerLink="/">
			<img src="/assets/favicon.png" />
		</a>
	</div>
	<mat-sidenav-container class="container">
		<mat-sidenav [mode]="SideNavMode" [opened]="SideNavOpen" #sidenav shadow="2" fixedInViewport="true" fixedTopGap="55">
			<ul layout="column">
				<li>
					<a routerLink="profile">
						<icon icon="user"></icon>
						<span>Profile</span>
					</a>
				</li>
				<li>
					<icon icon="car"></icon>
					<a routerLink="profile/car">Cars</a>
				</li>
				<li>
					<a routerLink="appointment">Appoinments</a>
				</li>
				<li>
					<a routerLink="search">Search</a>
				</li>
				<li>
					<a (click)="SignOut()">Log off</a>
				</li>
			</ul>
		</mat-sidenav>
		<div class="content" layout="column">
			<router-outlet></router-outlet>
		</div>
		
	</mat-sidenav-container>

	

</div>